<p id="notice"><%= notice %></p>

<div class="container">
  <div align="center">
    <h1 class="display-2"><%= @image.name %></h1>
  </div>
  <div align="center">
     <%= image_tag(@image.picture.url, size: '250x250', class: 'show-img') if @image.picture? %>
  </div>
  <div align="center">
    <h2><%= @image.user.email.capitalize %></h2>
  </div>
 
  
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Back', images_path %>

</div>