<footer class="text-muted fixed-to-bottom">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p> &copy; Shownola 2018</p>
    <p align="center">
    <ul class="nav nav-pills social-set" align="center">
      <li>
        <%= link_to "http://www.facebook.com/user", target: '_blank' do %>
          <%= image_tag 'facebook.png' %>
        <% end %>
      </li>
      <li>
        <%= link_to "http://www.twitter.com/user", target: '_blank' do %>
          <%= image_tag 'twitter.png' %>
        <% end %>
      </li>
      <li>
      <%= link_to "http://www.facebook.com/user", target: '_blank' do %>
          <%= image_tag 'reddit.png' %>
        <% end %>
      </li>
      <li>
      <%= link_to "http://www.facebook.com/user", target: '_blank' do %>
          <%= image_tag 'github.png' %>
        <% end %>
      </li>
      <li>
      <%= link_to "http://www.facebook.com/user", target: '_blank' do %>
          <%= image_tag 'pinterest.png' %>
        <% end %>
      </li>
</ul>
    </p>
  </div>
</footer>
